<div class="row">
<div class="col-3">
      <div *ngFor="let lib of libros" class="card">
        <div class="card-body">
          <h4 class="card-title">{{lib}}</h4>
          <h6 class="card-subtitle text-muted">Subtitle</h6>
        </div>
        <img src="holder.js/100x180/" alt="">
        <div class="card-body">
          <p class="card-text">Text</p>
          <a href="#" class="card-link">Link 1</a>
          <a href="#" class="card-link">Link 2</a>
        </div>
      </div>
</div>
</div>
