<section>
  <form>

    <mat-form-field>
      <mat-label>Ingrese correo</mat-label>
      <input type="email" matInput placeholder="correo@correo.com">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingrese password</mat-label>
      <input type="password" matInput placeholder="contraseña">
    </mat-form-field>

  </form>
</section>

<section id="contenedor">
  <div id="ele_1" class="ele" ></div>
  <div id="ele_2" class="ele" ></div>
  <div id="ele_3" class="ele" ></div>
</section>
